# Variable that will get replaced:
# ----------------------------------------------------------------------------------
#     - default_interface: The default IPv4 network interface, from ansible facts
#     - wireguard_private_key: The private key generated with 'wg genkey'
# ----------------------------------------------------------------------------------

[Interface]
PrivateKey = {{ private_key['content'] | b64decode }}
Address = 10.8.0.1/24
ListenPort = 51820
SaveConfig = false
PostUp = ufw route allow in on wg0 out on {{ ansible_default_ipv4.interface }}
PostUp = iptables -t nat -I POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on {{ ansible_default_ipv4.interface }}
PreDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
