<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VPN Server</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>
  <body>
    <div class="error-wrapper">
      <div class="error">
        The token you provided was incorrect! Try again.
        <span class="hide-error">&times;</span>
      </div>
    </div>
    <div id="app">
      <div class="main">
        <div class="title-generate-wrapper">
          <img src="../static/images/wg-logo.jpeg" alt="wg-logo" />
          <div class="title-generate-block">
            <div class="title-block">
              <div class="title">WireGuard-VPN</div>
              <div class="title-description">
                A no-nonsense self-provisioning VPN server for dev teams
              </div>
              <div >
                <h1>Page not found</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="github">
          <img src="../static/images/github.png" alt="github" />
          <a 
            class="github-link" 
            href="https://github.com/cyber-mint/wg-vpn" 
            rel="noopener noreferrer" 
            target="_blank"
          >
            https://github.com/cyber-mint/wg-vpn
          </a>
        </div>
        <div class="cyber-mint">
          Copyright &#169; 2023, Cyber-Mint (Pty) Ltd, Provided under MIT
          License
          <img src="../static/images/cm-logo-whitespace.png" alt="cyber-mint" />
        </div>
      </div>
    </div>
  </body>
</html>
